body, #root{
    min-height: 100vh;
}
.SearchPageContainer{
    width:100%;
    margin-top: 3%;
    min-height: 100%;
}
.SearchPageTopContainer{
    display: flex;
    flex-direction: column;
    background: url("https://images.unsplash.com/photo-1585314062340-f1a5a7c9328d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80") ;
    height:30%;
    width:100%; 
}
h1{
    color: #fff;
    font-family: 'Cherry Swash', cursive;
    margin-left: 10% ;
}
.SearchPageBottomContainer{
    width:100%;
    min-height: 100vh;
    display: flex;
    background: url("./back.PNG");
    min-height: calc(100vh - 114px);
}