/* .SubmitRecipeImg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 1em;
    box-sizing: border-box;
    color: white;
    background: url(./SubmitRecipeImg.jpg) center center no-repeat;
    background-size: cover;
} */

.SubmitRecipeImg {
    background-image: url("https://ae01.alicdn.com/kf/Hddac8797f9e746978c9ee3d7c150d6467/Food-Photography-Background-Grunge-Wall-Vegetables-Kitchen-Meat-Props-Food-Backdrops-Decoration-Wood-Board-Dark-Cement.jpg_640x640.jpg");
    background-size: cover;
    width: 100vw;
    position: absolute;
    top: 0;
}
